.ui.panel .tab-nav{
    padding-top:5px;
    border:solid 1px rgba(0,0,0,.05);
    position:relative;
	background-color:var(--tb_pr_bg,#F7F7F7);
	border-top-left-radius:var(--tb_app_r,0);
	border-top-right-radius:var(--tb_app_r,0);
    box-shadow:inset 0 -3px 3px rgba(0,0,0,.1)
}
.ui.panel .tab-nav:before{
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
	border-radius:inherit;
    background-color:rgba(0,0,0,.1);
	background-image:var(--tb_app_gr,none)
}
.ui.panel .tab-content{
	border-top-left-radius:0;
    border-top-right-radius:0
}