.module-menu .tf_acc_menu.ui.nav .menu-item .child-arrow{
    display:block;
    opacity:1;
    pointer-events:auto
}
.tf_acc_menu.ui.nav li.toggle-on > ul{
    transform:none;
}
.tf_acc_menu.ui.nav ul{
    display:none;
    padding:0 0 0 20px;
    left:0;
    box-shadow:none;
    opacity:1;
    position:relative;
    margin:0;
    transform:scale(1,0);
    transform-origin:top;
    transition:transform .2s;
    pointer-events:auto;
    height:auto
}
.tf_acc_menu .child-arrow{
    cursor:pointer;
    z-index:12;
    width:36px;
    height:36px;
    border-radius:100%;
    position:absolute;
    right:0;
    top:0;
    transition:transform .3s
}
.tf_acc_menu .child-arrow:before,
.tf_acc_menu .child-arrow:after{
    top:50%;
    left:12px;
    content:'';
    position:absolute;
    transition:transform .3s ease-in-out;
    height:1px;
    width:8px;
    transform:rotate(45deg);
    background:currentColor;
    z-index:9999;
    border-radius:10px
}
.tf_acc_menu .child-arrow:after{
    left:17px;
    transform:rotate(-45deg)
}
.tf_acc_menu .toggle-on > a .child-arrow:after,
.tf_acc_menu .toggle-on > a .child-arrow:before{
    left:10px;
    width:15px
}
