.mobile-menu-visible.sidemenu-active #headerwrap,
body:not(.header-overlay):not(.header-minbar):not(.header-leftpane):not(.header-rightpane).mobile-menu-visible.sidemenu-active,
body:not(.header-overlay):not(.header-minbar):not(.header-leftpane):not(.header-rightpane).mobile-menu-visible.sidemenu-active #headerwrap.fixed-header{
	left:0;
	right:0
}
#mobile-menu.sidemenu{
	left:0;
	right:0;
	width:100%;
	perspective:400px;
	transform-origin:center;
	transform:translateX(-100%);
	transition:.8s cubic-bezier(.9,0,.2,1);
	visibility:hidden;
	overflow-x:hidden;
	border:0
}
.mobile-menu-visible #mobile-menu.sidemenu{
	transform:none;
	visibility:visible
}
.mobile-menu-visible .body-overlay,
.body-overlay,
 .body-overlay.body-overlay-on{
	display:none
}
body:not(.mobile-menu-visible) #headerwrap #menu-icon-close{
	opacity:.25;
	transition:.4s
}
#menu-icon,
#headerwrap #cart-link-mobile,
.slide-cart-visible #headerwrap #cart-link-mobile{
	opacity:1;
	transition:all 1s
}
.mobile-menu-visible #headerwrap #menu-icon,
.mobile-menu-visible #headerwrap #cart-link-mobile,
.slide-cart-visible #headerwrap #cart-link-mobile{
	opacity:0;
	display:block
}
.top-icon-wrap,
#main-nav li{
	transform:translate(0,-40px)!important
}