.module.layout-icon-right .module-feature-image{
    float:right;
    margin:0 0 .4em 1.2em;
    max-width:200px
}
.module.layout-icon-right .module-feature-content{
    text-align:right;
    overflow:hidden;
    min-width:140px
}