.widget .twitter-list li{
	padding:0;	
	margin:0 0 1.2em
}
.widget .twitter-list .twitter-timestamp{
	font-style:italic;
	display:block;
	padding-top:.4em
}
.widget .follow-user{
	margin:0;
	padding:5px 0
}