#headerwrap{
	text-align:inherit
}
.logo-wrap{
	float:left
}
#site-description{
	left:0;
	transform:none;
	text-align:left
}
#site-description:before{
	left:0;
	margin-left:24px
}
#main-nav{
	position:static;
	float:left;
	width:auto;
	max-width:none;
	padding-left:23px
}
#headerwrap #menu-icon{
	position:absolute;
	margin:auto
}