.sidebar-none .page-title{
    text-align:center
}
.sidebar-none #content{
    width:100%;
    float:none
}
.sidebar-none.single h1,
.sidebar-none.single .page-title{
    font-size:2.3em;
    text-align:inherit
}
.sidebar-none.single-post .post-content,
.sidebar-none.single-post .commentwrap{
	padding-inline:15%
}
.single-post .entry-content .post-content{
	padding:0
}
@media(max-width:680px){
	.sidebar-none.single-post .post-content{
		padding-inline:0
	}
}