.module-image.image-left .image-wrap{
    float:left;
    margin:0 1.2em 1em 0
}
.module-image.image-left .image-content{
    overflow:hidden;
    padding-top:8px;
    min-width:100px;
	text-align:left
}