.header-logo-left #main-nav{
	float:none;
	font-size:100%
}
.header-logo-left .header-icons{
	float:none
}
.icon-menu .icon-menu-count{
	left:-6px;
	top:1px
}
#cart-link-mobile{
	top:15px
}
/* menu hover & current link */
#main-nav a:hover,
#main-nav ul a:hover,
#main-nav .current_page_item > a,
#main-nav .current-menu-item > a{
	color:var(--theme_accent)
}
body:not(.header-block):not(.header-minbar-left):not(.header-minbar-right) .icon-menu li > a .tooltip{
	background-color:transparent
}
body:not(.header-block):not(.header-minbar-left):not(.header-minbar-right):not(.header-overlay) .icon-menu li > a .tooltip:after{
	display:none
}