#main-nav a:hover,
#main-nav .current_page_item > a,
#main-nav .current-menu-item > a{
	color:var(--theme_accent)
}
.icon-menu .icon-menu-count{
	right:20px
}
/* HEADER LOGO LEFT */
.header-logo-left #mobile-menu{
	display:block
}