/*
Skin Name:Shoppe Salon
Version:1.0
Demo URI:https://themify.me/demo/themes/shoppe-salon
Required Plugins:builder-contact, builder-woocommerce, woocommerce
*/

/************************************************************************************
GENERAL
*************************************************************************************/
:root{
	--theme_accent:#df9a2b;
}
body{
	color:#494949;
	font:1.05em/1.7em 'Quicksand', sans-serif;
}
.post-title a:hover,
a:hover{
	color:var(--theme_accent_hover)
}
/* reset general border-radius */
input[type=reset], input[type=submit], button,input[type=radio], input[type=checkbox], select, textarea, input[type=text], input[type=password], input[type=search], input[type=email], input[type=url], input[type=number], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=time], input[type=week],input[type=checkbox],#slide-cart .button,.woocommerce #respond input#submit.disabled,.woocommerce #respond input#submit:disabled,.woocommerce #respond input#submit:disabled[disabled],.woocommerce a.button.disabled,.woocommerce a.button:disabled,.woocommerce a.button:disabled[disabled],.woocommerce button.button.disabled,.woocommerce button.button.alt.disabled,.woocommerce button.button:disabled,.woocommerce button.button:disabled[disabled],.woocommerce input.button.disabled,.woocommerce input.button:disabled,.woocommerce input.button:disabled[disabled],.woocommerce #content input.button,.woocommerce #respond input#submit,.woocommerce a.button,.woocommerce button.button,.woocommerce input.button,.woocommerce #content input.button.alt,.woocommerce #respond input#submit.alt,.woocommerce a.button.alt,.woocommerce button.button.alt,.woocommerce input.button.alt,.woocommerce ul.products li.product .button,.cart-style-dropdown .cart-total-checkout-wrap,#cart-wrap .product-image img,.cart-style-dropdown #cart-wrap,ul.products li.product .post-image,.post-image img,.woocommerce .product-lightbox div.product div.images img,.woocommerce div.product div.images img{
	border-radius:0
}

/* HEADINGS
================================================ */
h1,h2,h3,h4,h5,h6{
	font-family:'Cormorant Garamond', serif;
	color:inherit
}
h1{
	font-size:4em;
	letter-spacing:-0.03em;
	margin:0 0 .2em
}
h2{
	font-size:3em;
	letter-spacing:0.02em
}
h5{
	font-size:1.35em;
	letter-spacing:0.04em;
	margin:0 0 .4em
}

/* FORMS
================================================ */
input[type=reset],input[type=submit],button{
	background-color:#000;
}
input[type=reset]:hover,input[type=submit]:hover,button:hover{
	background-color:var(--theme_accent);
	color:#fff
}

/************************************************************************************
HEADER
*************************************************************************************/
#headerwrap{
	box-shadow:none
}
#header{
	width:1160px;
	max-width:94%;
	margin:0 auto;
}

/* SITE LOGO
================================================ */
#site-logo{
	font:small-caps 600 1.8em/1em 'Cormorant Garamond', serif;
	letter-spacing:.01em;
	text-transform:none
}
#site-description{
	font-size:.75em
}

/* MAIN NAVIGATION
================================================ */
/* active/hover border */
#main-nav > li:hover > a:before,
#main-nav > .current_page_item > a:before,
#main-nav > .current-menu-item > a:before,
#main-nav > .current_page_item > a:hover:before,
#main-nav > .current-menu-item > a:hover:before{
	display:none
}

/* SEARCH ICON
================================================ */
.header-icons .search-button{
	border:0;
	border-radius:100%;
	margin:0 0 0 9px
}
.search-button .tf_fa{
	font-size:19px;
	padding:10px;
}
/* search options */
.search-option-tab li:hover a,
.search-option-tab li.active a{
	box-shadow:inset 0 -3px 0 0 var(--theme_accent)
}
.search-results-wrap .view-all-button:hover:after{
	border-color:var(--theme_accent)
}

/* ICON NAVIGATION
================================================ */
.header-icons{
	top:0
}

/* GENERIC ACCENT COLORS
================================================ */
.header-left-pane .sidemenu .top-icon-wrap li a .tooltip,
.header-right-pane .sidemenu .top-icon-wrap li a .tooltip,
.header-minbar-left #headerwrap .sidemenu-off .top-icon-wrap li a .tooltip,
.header-minbar-right #headerwrap .sidemenu-off .top-icon-wrap li a .tooltip,
.icon-menu li > a .tooltip{
	background-color:var(--theme_accent)
}
.header-block .icon-menu li > a .tooltip{
	background-color:transparent
}

/* HEADER LOGO LEFT
================================================ */
.header-logo-left .sidemenu-off{
	display:flex;
	justify-content:flex-end;
	align-items:center
}
.header-logo-left .sidemenu-off #main-nav-wrap{
	margin-left:auto
}
.header-logo-left .sidemenu-off .header-icons{
	position:unset;
	order:1
}

/* HEADER BOTTOM
================================================ */
.header-bottom .icon-menu li > a .tooltip:before{
	border-bottom-color:transparent;
	border-top-color:var(--theme_accent)
}
#footerwrap .footer-tab:hover{
	color:#fff
}

/* HEADER MINBAR LEFT/RIGHT
================================================ */
.header-minbar-left #site-logo{
	margin:5px 0
}
.header-minbar-right #site-logo{
	margin-top:10px
}
.header-minbar-left.mobile-menu-visible #headerwrap .search-button,
.header-minbar-right.mobile-menu-visible #headerwrap .search-button,
#headerwrap .search-button{
	border:0;
	width:auto
}
.header-minbar-left.mobile-menu-visible #headerwrap .search-button,
.header-minbar-right.mobile-menu-visible #headerwrap .search-button{
	margin:.8em
}
.header-minbar-right .sidemenu-off .icon-menu li > a .tooltip:before{
	border-bottom-color:transparent;
	border-left-color:var(--theme_accent)
}
.header-minbar-left .sidemenu-off .icon-menu li > a .tooltip:before{
	border-bottom-color:transparent;
	border-right-color:var(--theme_accent)
}

/* HEADER SLIDE LEFT/RIGHT
================================================ */
.header-slide-right #headerwrap .search-button{
	margin-left:0
}

/* HEADER OVERLAY
================================================ */
.header-overlay #menu-icon{
	padding:7px 12px
}

/* HEADER STRIPE
================================================ */
.header-stripe #site-logo{
	margin:9px 0
}
.header-stripe .search-button{
	margin-right:25px
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footerwrap{
	color:#fff;
	background-color:#000;
	font-size:1em
}
#footerwrap a{
	color:var(--theme_accent)
}
#footerwrap a:hover{
	color:#fff
}
#footerwrap .back-top a{
	color:#000;
}
#footer{
	padding-top:3.25em;
	padding-bottom:1.9em;
}

/* FOOTER LOGO
================================================ */
#footer-logo{
	font:small-caps normal 1.7em/1em 'Cormorant Garamond', serif;
	text-transform:none;
	letter-spacing:.04em;
	margin-bottom:1.05em;
}

/* FOOTER WIDGETS
================================================ */
.footer-widgets .widgettitle,.widgettitle{
	font-size:1.35em;
	font-weight:normal;
	letter-spacing:normal;
	margin:0 0 1em;
	text-transform:none
}
.footer-widgets .widget li{
	padding:0 0 .35em;
	font-size:.9em
}

/************************************************************************************
WOOCOMMERCE
*************************************************************************************/
/* Buttons */
#cart-wrap .button,
.woocommerce-product-search button,
.woocommerce ul.products li.product .button,
.woocommerce #respond input#submit,
.woocommerce #respond input#submit.alt,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce button.button.alt.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled]{
	border-radius:0;
	background-color:#000;
	color:#fff;
	font-size:.7em;
	font-weight:normal;
	text-transform:uppercase;
	padding:.95em 1.65em;
	letter-spacing:.1em
}
#cart-wrap .button:hover,
.woocommerce ul.products li.product .button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button:disabled:hover,
.woocommerce button.button:disabled[disabled]:hover{
	background-color:var(--theme_accent);
	color:#fff;
	transform:none
}
/* Title */
.woocommerce div.product .product_title,
.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3{
	font-weight:normal;
	letter-spacing:-.02em
}
.woocommerce div.product .product_title{
	font-size:2em
}
/* Price */
.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce ul.products li.product .price ins,
ul.products li.product .post-content .price,
ul.products li.product .product-content .price{
	font-size:1.2em
}
.woocommerce ul.products li.product .price del{
	font-weight:normal;
	opacity:1;
}
.social-share{
	background:var(--theme_accent)
}
.social-share:before{
	border-top-color:var(--theme_accent)
}
.woocommerce ul.products li.product .share:hover, 
.social-share .share:hover{
	color:#000
}
.quick-look .tooltip,
.wishlist-button .tooltip{
	background-color:var(--theme_accent);
}
.quick-look .tooltip:before,
.wishlist-button .tooltip:before{
	border-top-color:var(--theme_accent);
}
/*SLIDE CART*/
#slide-cart .cart-total{
	font-size:.8em
}
/* SINGLE PRODUCT
================================================ */
/* breadcrumb */
.woocommerce .woocommerce-breadcrumb{
	color:var(--theme_accent);
	font-size:.75em;
	font-weight:normal
}
.woocommerce .woocommerce-breadcrumb a{
	color:#000
}
.woocommerce div.product form.cart .button{
	font-size:.7em;
	font-weight:bold;
	padding:1.225em 1.6em;
	margin-bottom:1.05em
}
.woocommerce-cart #content table.cart td.actions .coupon .input-text{
	padding:.6em .85em .5em;
	width:8.5em;
	border-radius:5em
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button.alt{
	font-size:.75em;
}
/* product description */
.woocommerce div.product .woocommerce-tabs ul.tabs::before{
	border-bottom:solid 1px rgba(0,0,0,.05)
}
/* product share */
.woocommerce div.product div.summary .product-share-wrap{
	margin:0 0 .75em
}
.woocommerce div.product div.summary .wishlist-button,
.woocommerce div.product div.summary .share-wrap .share-button{
	padding:9px
}
/* toggle sticky sidebar button */
.sticky_sidebar_enabled #toggle-mobile-sidebar-button{
	background-color:var(--theme_accent)
}

/************************************************************************************
BUILDER STYLING
*************************************************************************************/
/* SLIDER MODULE
================================================ */
/* slider controls */
.tf_carousel .swiper-slide{
	text-align:left
}
.tf_carousel_nav_wrap{
	justify-content:flex-end;
	margin:0
}
.tf_carousel_nav_wrap .carousel-prev:hover,
.tf_carousel_nav_wrap .carousel-next:hover{
	background:0;
	color:var(--theme_accent)
}
.person-name{
    font-size:1.5em
}
.person-position{
    font-size:.9em;
    color:var(--theme_accent);
    text-transform:uppercase
}
/* Service Menu*/
.tb-menu-price{
	font-weight:normal
}
.module-service-menu .tb-menu-title{
	font-size:1.3em;
	text-transform:none
}
/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
@media (max-width:680px){
	h1{
		font-size:2.2em
	}
	h2{
		font-size:2em
	}
}