.module-optin.tb_optin_horizontal .tb_optin_submit button{
	padding-left:2.6em;
	padding-right:2.6em
}
.module .tb_optin_form input[type=checkbox]{
	width:20px;
	height:20px;
	padding:0;
	margin:0 .3em 0 0;
	display:inline-block;
	vertical-align:middle;
}
.tb_optin_horizontal form > div[class*="tb_optin_"]{
	width:auto
}
.module-optin.tb_optin_horizontal .tb_optin_submit{
	background:0
}