.pagenav{
	padding-top:2em;
	padding-bottom:40px;
    font-size:1.1em;	
}
.pagenav a,
.pagenav span{
	display:inline-block;
	line-height:100%;
	margin:0 1px 0 0;
	min-height:36px;
	min-width:36px;
	padding:9px;
	text-align:center;
	border-radius:100%;
	vertical-align:middle;
	box-sizing:border-box;
	border:0;
	text-decoration:none;
}
.pagenav a:hover,
.pagenav span{
	text-decoration:none;
	background-color:var(--theme_accent);
	color:#fff
}
.pagenav .current{
	border:0
}
/* prev/next arrow */
.pagenav .prevp,.pagenav .nextp,
.pagenav .firstp,.pagenav .lastp{
	position:relative;
	text-indent:-999em;
	margin-right:5px;
}
.pagenav .prevp:before,.pagenav .nextp:before,
.pagenav .firstp:before,.pagenav .firstp:after,
.pagenav .lastp:before,.pagenav .lastp:after{
	content:"";
	display:inline-block;
	border:1px solid transparent;
	border-top-color:inherit;
	position:absolute;
	top:35%;
	width:.5em;
	height:.5em;
	text-indent:0
}
.pagenav .prevp:before,.pagenav .firstp:before,.pagenav .firstp:after{
	left:50%;
	border-left-color:inherit;
	transform:rotateZ(-45deg)
}
.pagenav .firstp:after{
	left:35%
}
.pagenav .nextp:before,.pagenav .lastp:before,.pagenav .lastp:after{
	right:50%;
	border-right-color:inherit;
	transform:rotateZ(45deg)
}
.pagenav .nextp:before{
	right:40%;
}
.pagenav .lastp:after{
	right:35%
}
@media(max-width:680px){
	.pagenav{
        font-size:1em;
	}
}