:host{
    position:-webkit-sticky;
    position:sticky;
    z-index:1000
}
#toolbar{
    border-radius:8px
}
.plus{
    border-radius:8px 0 0 8px
}
.mode ul{
    min-width:120px
}
.switch{
    margin-right:3px;
    color:#fff
}
.is-sidebar-opened{
	
}