.module.module-gallery.layout-lightboxed .gallery-caption{
    text-align:left
}
.mfp-title .themify_image_title,
.module.layout-lightboxed .themify_image_title{
    margin-bottom:.5em
}
.module.layout-lightboxed .gallery-item{
    width:auto!important;
    margin:0!important
}
.layout-lightboxed .tf_hidden.gallery-item{
    visibility:visible;
    float:left
}