/* 
Skin Name:Shoppe Black
Version:1.0
Demo URI:https://themify.me/demo/themes/shoppe-black/
Required Plugins:builder-contact,builder-maps-pro,builder-woocommerce,woocommerce
*/

/************************************************************************************
GENERAL
*************************************************************************************/
:root{
	--theme_accent:#af8f42;
	--theme_accent_hover:#e3a700;
}
body{
	background-color:#1b1b1b;
	color:#c7c7c7
}
a:hover{
	color:var(--theme_accent_hover)
}
textarea,input[type=text],input[type=password],input[type=search],input[type=email],input[type=url],input[type=number],input[type=tel],input[type=date],input[type=datetime],input[type=datetime-local],input[type=month],input[type=time],input[type=week]{
	background-color:#444;
	color:#fff;
	border-color:rgba(256,256,256,.2)
}
select:focus,
textarea:focus,
input:read-write:focus,
input:read-only:focus{
	border-color:rgba(222,222,222,.5)
}
/* checkbox */
input[type=checkbox]{
	background-color:#444
}
/* HEADINGS
================================================ */
h1,h2,h3,h4,h5,h6{
	color:#fff
}
.fancy-heading strong,
.fancy-heading .main-head{
	color:#fff
}
/************************************************************************************
HEADER
*************************************************************************************/
#headerwrap{
	background:rgba(0,0,0,.8);
	color:#fff
}
#headerwrap a{
	color:#fff
}
/* ICON NAVIGATION
================================================ */
.icon-menu li > a .tooltip{
	background-color:#515151
}
.icon-menu li > a .tooltip:before{
	border-bottom-color:#515151
}
.top-icon-wrap .cart-total-checkout-wrap,
#cart-wrap{
	background-color:#2e2e2e
}
#cart-list{
	background-color:#515151
}
#cart-wrap .product{
	border-color:rgba(0,0,0,.15)
}
#cart-wrap .cart-total #view-cart:hover{
	color:#fff
}
#slide-cart .shopdock{
	border-color:rgba(255,255,255,.15)
}
#slide-cart #cart-wrap,
#slide-cart #cart-list{
	background:0
}
#slide-cart #cart-list{
	border-bottom:1px solid rgba(255,255,255,.15)
}
#slide-cart #cart-wrap .product{
	border-color:rgba(255,255,255,.15)
}
#cart-wrap .cart-total{
	color:#fff
}
/* SEARCH LIGHTBOX
================================================ */
.tf_search_lightbox{
	background:rgba(0,0,0,.9);
	color:#eee
}
.tf_search_lightbox a:hover{
	color:var(--theme_accent_hover)
}
#searchform{
	border-bottom-color:#fff
}
#searchform .tf_fa,
#searchform #s{
	color:#fff
}
.mobile-menu-visible .top-icon-wrap,
.mobile-menu-visible #headerwrap .search-button,
.sidemenu .search-button{
	border-color:rgba(255,255,255,.15)
}
/* MAIN NAVIGATION
================================================ */
#main-nav li > .sub-menu{
	background-color:#2e2e2e
}
#main-nav ul a{
	color:#fff;
	border-color:rgba(0,0,0,.15)
}
#main-nav .mega-sub-menu li a:after{
	border-top-color:#fff;
	border-right-color:#fff
}
#main-nav .has-mega-column .widget .widgettitle,
#main-nav .has-mega-column > .sub-menu > .columns-sub-item > a,
#main-nav li.mega-link.loading:before{
	color:#fff
}
/* dropdown */
#main-nav .has-mega-sub-menu > .sub-menu > li ul,
#main-nav .has-mega-sub-menu > .sub-menu > li ul ul,
#main-nav .has-mega-column > .sub-menu > li ul,
#main-nav .has-mega-column > .sub-menu > li ul ul{
	color:#fff
}
/* MEGA MENU */
#main-nav .has-mega-column .product-categories .count{
	background-color:#000;
	color:#fff
}
/* MOBILE MENU ACTIVE
================================================ */
#slide-cart,
.mobile-menu-visible.sidemenu-active #headerwrap,
.mobile-menu-visible .sidemenu{
	background:#000;
	color:#fff
}
.mobile-menu-visible .sidemenu{
	color:inherit
}
/* HEADER LAYOUTS
================================================ */
.header-overlay #headerwrap #main-nav a,
.header-overlay #headerwrap #main-nav ul a,
.header-left-pane #headerwrap #main-nav a,
.header-left-pane #headerwrap #main-nav ul a,
.header-right-pane #headerwrap #main-nav a,
.header-right-pane #headerwrap #main-nav ul a,
.header-slide-left #headerwrap #main-nav a,
.header-slide-left #headerwrap #main-nav ul a,
.header-slide-right #headerwrap #main-nav a,
.header-slide-right #headerwrap #main-nav ul a,
.header-minbar-left #headerwrap #main-nav a,
.header-minbar-left #headerwrap #main-nav ul a,
.header-minbar-right #headerwrap #main-nav a,
.header-minbar-right #headerwrap #main-nav ul a{
	color:inherit;
	border-color:rgba(255,255,255,.15)
}
.header-overlay #headerwrap #main-nav,
.header-left-pane #headerwrap #main-nav,
.header-right-pane #headerwrap #main-nav,
.header-slide-left #headerwrap #main-nav,
.header-slide-right #headerwrap #main-nav,
.header-minbar-left #headerwrap #main-nav,
.header-minbar-right #headerwrap #main-nav{
	border-color:rgba(255,255,255,.15)
}
.header-overlay #headerwrap #main-nav .has-mega-column .product-categories .count,
.header-left-pane #headerwrap #main-nav .has-mega-column .product-categories .count,
.header-right-pane #headerwrap #main-nav .has-mega-column .product-categories .count,
.header-slide-left #headerwrap #main-nav .has-mega-column .product-categories .count,
.header-slide-right #headerwrap #main-nav .has-mega-column .product-categories .count,
.header-minbar-left #headerwrap #main-nav .has-mega-column .product-categories .count,
.header-minbar-right #headerwrap #main-nav .has-mega-column .product-categories .count{
	background-color:#2e2e2e
}
.header-stripe #headerwrap{
	background-color:transparent
}
.header-stripe #header{
	background:#2e2e2e
}
.header-stripe #headerwrap a{
	color:inherit
}
.header-stripe #headerwrap #main-nav ul a{
	color:#fff
}
.header-minbar-left.mobile-menu-visible .sidemenu-on,
.header-slide-left.mobile-menu-visible .sidemenu-on{
	border-right-color:rgba(255,255,255,.15);
	box-sizing:border-box
}
.header-minbar-right.mobile-menu-visible .sidemenu-on,
.header-slide-right.mobile-menu-visible .sidemenu-on{
	border-left-color:rgba(255,255,255,.15);
	box-sizing:border-box
}
.header-block .icon-menu li > a .tooltip{
	background:0
}
.header-left-pane #headerwrap #menu-icon,
.header-right-pane #headerwrap #menu-icon{
	background-color:#1b1b1b;
	outline-color:#1b1b1b
}
.header-boxed-layout #pagewrap,
.header-boxed-content #body{
	background-color:#000
}
.header-overlay.single #pagewrap{
	padding-top:63px
}
/* TRANSPARENT HEADER
================================================ */
.transparent-header #headerwrap.fixed-header{
	background-color:rgba(0,0,0,.9);
	color:#fff
}
/************************************************************************************
PAGE
*************************************************************************************/
#pattern,
div.pp_overlay,
.body-overlay{
	background-color:rgba(0,0,0,.9)
}
.nicescroll-rails > div{
	background-color:rgba(245,245,245,.2)!important;
	border-color:rgba(245,245,245,.4)!important
}
/************************************************************************************
POST
*************************************************************************************/
.post-title a,
.single .post-title a,
.loops-wrapper:not(.overlay):not(.polaroid):not(.auto_tiles) .post-title a{
	color:inherit
}
div.pp_woocommerce .pp_close:before,
.post-lightbox .close-lightbox{
	color:#fff
}
/* Load more */
#load-more a{
	color:#fff
}
/* Tile/Overlay/Polaroid */
.overlay.products .product.has-post-thumbnail .product-content,
.loops-wrapper.overlay .post-image + .post-content{
	background:linear-gradient(to bottom, rgba(0,0,0,.35) 0,rgba(0,0,0,.72) 35%,rgba(0,0,0,.93) 59%,rgba(0,0,0,1) 72%,rgba(0,0,0,1) 100%);
	color:#fff
}
.polaroid.products .product.has-post-thumbnail .product-content,
.loops-wrapper.polaroid .post-image + .post-content{
	background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.35) 35%,rgba(0,0,0,.55) 55%,rgba(0,0,0,1) 100%);
	color:#fff
}
.polaroid.products .product:hover .product-content,
.loops-wrapper.polaroid .product:hover .product-content,
.loops-wrapper.polaroid .post:hover .post-content{
	background:linear-gradient(to bottom,rgba(0,0,0,.01) 0,rgba(0,0,0,.25) 15%,rgba(0,0,0,.7) 35%,rgba(0,0,0,1) 100%)
}
.auto_tiles .has-post-thumbnail .post-meta,
.loops-wrapper.overlay .has-post-thumbnail .post-meta,
.loops-wrapper.polaroid .has-post-thumbnail .post-meta{
	color:inherit
}
.auto_tiles .has-post-thumbnail .post-date:before,
.auto_tiles .has-post-thumbnail .post-comment:before,
.auto_tiles .has-post-thumbnail .post-tag:before,
.loops-wrapper.overlay .has-post-thumbnail .post-date:before,
.loops-wrapper.overlay .has-post-thumbnail .post-comment:before,
.loops-wrapper.overlay .has-post-thumbnail .post-tag:before,
.loops-wrapper.polaroid .has-post-thumbnail .post-date:before,
.loops-wrapper.polaroid .has-post-thumbnail .post-comment:before,
.loops-wrapper.polaroid .has-post-thumbnail .post-tag:before{
	background-color:rgba(255,255,255,.8)
}
.woocommerce .auto_tiles li.product .product-content .button{
	border-color:#fff;
    color:#fff
}
/* message,info,error */
.woocommerce-error,
.woocommerce-info,
.woocommerce-message{
    background-color:#000;
	color:inherit
}
.woocommerce-checkout #payment,
.woocommerce form .form-row .select2-container .select2-choice{
	border-color:rgba(256,256,256,.2);
	box-shadow:none;
    background-color:#000;
	color:inherit
}
.woocommerce-checkout #payment div.payment_box{
    background-color:#444;
	color:inherit
}
.woocommerce-checkout #payment ul.payment_methods,
.woocommerce-checkout #payment div.payment_box:before{
    border-bottom-color:#444
}
.select2-drop-active{
    border:1px solid #666;
    border-top:none;
    background-color:#444;
	color:inherit
}
.select2-results{
    background:#444
}
.woocommerce #content .shop_table.cart .actions input[type=submit]{
	background:#444;
	color:inherit
}
/************************************************************************************
FOOTER
*************************************************************************************/
#footerwrap{
	background-color:rgba(0,0,0,.8);
	color:#c7c7c7
}
#footerwrap a{
	color:#fff
}
#footerwrap .back-top a{
	background-color:#2e2e2e
}
/************************************************************************************
BUILDER 
*************************************************************************************/
#pagewrap .module-buttons.outline a.yellow{
	color:var(--theme_accent);
	border-color:var(--theme_accent)
}
#pagewrap .module-buttons.outline a.yellow:hover{
	color:#fff;
	background-color:var(--theme_accent)
}
/************************************************************************************
WOOCOMMERCE 
*************************************************************************************/
/* quick look */
#post-lightbox-wrap.animate_start,
#post-lightbox-wrap #post-lightbox-container{
	background-color:#1b1b1b
}
/* archive product */
.woocommerce ul.products li.product{
	text-align:center
}
.woocommerce .loops-wrapper.overlay li.product h3,
.woocommerce .loops-wrapper.polaroid li.product h3,
.woocommerce .loops-wrapper.auto_tiles li.product h3{
	color:inherit
}
.woocommerce ul.products li.product a:hover{
	color:var(--theme_accent)
}
.grid4 .product-share-wrap,
.grid3 .product-share-wrap,
.related .product-share-wrap,
.archive .product-share-wrap{
	display:block
}
.woocommerce .related.products ul.products .product,
.woocommerce .upsells.products ul.products .product{
	text-align:inherit
}
/* TABS */
.woocommerce div.product .woocommerce-tabs ul.tabs li:hover a,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
.search-option-tab li:hover a,
.search-option-tab li.active a{
	color:inherit;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs:before{
	border-bottom-color:rgba(255,255,255,.13)
}
/* Lists */
.woocommerce ul.cart_list li a,
#main-nav .woocommerce .product_list_widget li a{
	border-color:rgba(0,0,0,.15)
}
/* price */
.woocommerce div.product p.price,
.woocommerce div.product span.price{
    color:#fff
}
/* select sorting */
.woocommerce .woocommerce-ordering select{
	border-color:rgba(255,255,255,.2)
}
/* Tooltip */
.quick-look .tooltip,
.wishlist-button .tooltip,
.social-share{
	background-color:#515151
}
.quick-look .tooltip:before,
.wishlist-button .tooltip:before,
.social-share:before{
	border-top-color:#515151
}
/* Wishlisted */
#wishlist-wrapper .products .product{
	text-align:inherit
}
.woocommerce .woocommerce-product-rating{
	color:inherit
}
/* border color */
#wishlist-wrapper .products .product,
.result-item,
.loops-wrapper.list-large-image .post{
	border-bottom-color:rgba(255,255,255,.15)
}
.woocommerce.sidebar-none .cart-collaterals .cart_totals{
	border-color:rgba(255,255,255,.1)
}
.woocommerce table.shop_table td{
    border-top-color:rgba(255,255,255,.1)
}
.select2-container--default .select2-selection--single{
	border-color:rgba(256,256,256,.2);
	background:#000
}