.ui.module-accordion.transparent{
    border:0
}
.ui.module-accordion.transparent>li,
.ui.module-accordion.transparent .accordion-content,
.ui.module-accordion.transparent>li.current{
    background:0;
    border:0;
    box-shadow:none
}
.ui.module-accordion.transparent .accordion-title,
.ui.module-accordion.transparent .accordion-content{
    color:inherit
}
.ui.module-accordion.transparent .accordion-title a{
    padding-left:0;
    padding-right:0
}