.social-widget .widget{
    display:inline-block;
    margin:0 3px 0 0
}
.social-widget .widgettitle{
    width:auto;
    font-weight:700;
    font-size:100%;
    font-family:inherit;
    text-transform:none;
    letter-spacing:0;
    display:inline-block;
    vertical-align:middle;
    margin:0 .5em 0 0;
    padding:0;
    background:0;
    border:0;
    border-radius:0;
    box-shadow:none
}
.social-widget .social-links{
    margin:6px 0 0;
    padding:0;
    display:inline
}
.widget .social-links li img{
    vertical-align:middle
}
.widget .social-links{
    padding:0;
    line-height:1em
}
.social-links .social-link-item{
    display:inline-block;
    margin:0 5px 5px 0;
    padding:0;
    list-style:none;
    border:0
}
.social-links.vertical li{
    display:block;
    margin:0 0 5px
}
.widget .social-links a,
.widget .social-links a:hover{
    text-decoration:none
}
.social-links li em{
    vertical-align:middle;
    line-height:1em;
    width:20px;
    height:20px;
    padding:4px;
    font-size:20px;
    text-align:center;
    border-radius:100%;
    display:inline-block
}
.social-links .icon-small em{
    font-size:8px;
    width:8px;
    height:8px
}
.social-links .icon-large em{
    font-size:28px;
    padding:6px;
    width:36px;
    height:36px
}
.social-links .icon-small img{
    max-width:16px;
    max-height:16px
}
.social-links .icon-medium img{
    max-width:24px;
    max-height:24px
}
.social-links .icon-large img{
    max-width:32px;
    max-height:32px
}
#footer .social-links.horizontal li,
#sidebar .social-links.horizontal li{
    border:0;
    display:inline-block
}
#footer .social-links.vertical,
#sidebar .social-links.vertical{
    display:block
}
#footer .social-links.vertical li,
#sidebar .social-links.vertical li{
    display:block;
    margin:0 0 .5em
}