#headerwrap #main-nav a:hover,
#headerwrap #main-nav a:hover,
#main-nav .current_page_item > a,
#main-nav .current-menu-item > a{
	color:#a97ae3
}
.header-logo-left .header-icons{
	float:none
}
.header-logo-left .search-button .tf_fa{
	padding:1.06em .8em
}
.header-logo-left .top-icon-wrap{
	display:flex
}
.header-logo-left .top-icon-wrap li{
	width:89px
}
.transparent-header #headerwrap #main-nav .current_page_item > a,
.transparent-header #headerwrap #main-nav .current-menu-item > a{
	color:#a97ae3
}