.builder-lightbox.tb_revision_lightbox{
	width:450px;
	height:480px;
	border-radius:8px;
}
.tb_revision_lists{
	margin:0;
	padding:0;
	width:100%;
	box-sizing:border-box
}
.tb_revision_lists li{
	border-top:1px solid rgba(0,0,0,.05);
	list-style-type:none;
	margin:0;
	padding:14px 2px;
	color:#adadad
}
.tb_revision_lists li .tf_close{
	float:right;
	margin-top:4px;
	color:#666;
	padding:8px
}