.module-icon .tf_fa{
	max-width:1em
}
.module-icon .module-icon-item a,
.module-icon-item{
    display:inline-flex;
	text-decoration:none;
    place-items:center
}
.module-icon-item + .module-icon-item{
    margin-left:.4em
}
.module-icon span{
    margin-left:.3em;
    margin-right:.6em;
	font-size:var(--tb_mi_s,inherit)
}
.module-icon em{
	display:inline-flex;
    place-content:center;
    padding:.5em;
    font-size:var(--tb_mi_f,16px);
	min-width:var(--tb_mi_size,auto);
	min-height:var(--tb_mi_size,auto);
	border-radius:var(--tb_mi_r,100%);
	background-color:var(--tb_pr_bg,transparent);
	color:var(--tb_pr_color,inherit);
    line-height:0;
    transition:.3s;
	transition-property:box-shadow,border,background-color,color,padding,font-size
}
.module-icon img{
	border-radius:var(--tb_mi_r,100%);
	max-width:var(--tb_mi_i_w,32px);
	padding:var(--tb_mi_p,3px)
}
/* size */
.module-icon.small{
    --tb_mi_size:24px;
    --tb_mi_f:12px;
	--tb_mi_i_w:16px
}
.module-icon.large{
	--tb_mi_size:48px;
	--tb_mi_i_w:48px;
	--tb_mi_s:1.2em;
    --tb_mi_f:24px;
	--tb_mi_p:6px
}
.module-icon.xlarge{
    --tb_mi_size:62px;
	--tb_mi_i_w:64px;
    --tb_mi_f:36px;
    --tb_mi_s:1.4em;
	--tb_mi_p:9px
}
.module-icon.xlarge em{
    padding:12px 0 0 2px
}
.module-icon.rounded{
    --tb_mi_r:8px
}
.module-icon.squared{
    --tb_mi_r:0
}
.module-icon.none em{
    --tb_pr_bg:transparent;
    --tb_mi_r:0;
    padding:.2em;
    color:inherit
}
.module-icon.none{
    --tb_mi_r:0;
    --tb_mi_f:24px
}
.module-icon.none.small{
    --tb_mi_f:18px
}
.module-icon.none.large{
    --tb_mi_f:30px
}
.module-icon.none.xlarge{
    --tb_mi_f:36px
}
.icon_vertical{
	display:flex;
    flex-wrap:wrap;
	flex-direction:column
}
.icon_vertical .module-icon-item{
    margin:0 0 .4em
}
.tf_textr .module-icon-item,
.tf_textr.icon_vertical{
    place-content:flex-end
}
.tf_textr .module-icon-item em,
.tf_textr .module-icon-item img{
    order:1
}
.tf_textc.icon_vertical{
    place-content:center
}
.tf_textc.icon_vertical .module-icon-item a,
.tf_textc.icon_vertical .module-icon-item{
    flex-direction:column
}
@media (max-width:680px){
    .module-icon.large{
        --tb_mi_s:1.1em
    }
    .module-icon.xlarge{
        --tb_mi_s:1.2em
    }
}