.module-testimonial-slider{
    margin-bottom:1em;
    padding:0
}
.module-testimonial-slider h1,
.module-testimonial-slider h2,
.module-testimonial-slider h3,
.module-testimonial-slider h4,
.module-testimonial-slider h5,
.module-testimonial-slider h6{
    color:inherit;
    margin-top:0
}
.module-testimonial-slider .testimonial-image img{
    border-radius:100%
}
.module-testimonial-slider.image-bottom  .testimonial-image img{
    padding-bottom:10px
}
/* testimonial image top */
.module-testimonial-slider.image-top .testimonial-item,
.module-testimonial-slider .testimonial-content{
    display:flex;
    flex-direction:column
}
.module-testimonial-slider.image-top .testimonial-image{
    margin-bottom:1em
}
.image-top .testimonial-image{
	order:-2;
}
/* testimonial image bottom */
.module-testimonial-slider.image-bottom .testimonial-image{
    order:1;
    margin-top:1em
}
/* testimonial bubble */
.module-testimonial-slider.image-bubble .testimonial-content{
    background-color:#fff;
    color:#666;
    box-sizing:border-box;
    box-shadow:0 5px 10px 0 rgba(0,0,0,.1);
    border-radius:10px;
    padding:5% 8%;
    margin:5px 15px 50px;
    text-align:left
}
.module-testimonial-slider.image-bubble .person-name{
    font-weight:bold
}
.module-testimonial-slider.image-bubble .testimonial-image{
    order:1;
    transform:translateY(50%)
}
.tb_rating_wrap{
    display:table;
    letter-spacing:-2em;
    margin-bottom:10px
}
.tb_rating_wrap .tf_fa{
	margin-right:3px
}
.tb_rating_fill{
	color:#ffd700;
	stop-color:currentColor;
}
.tb_rating_half{
	fill:var(--tb_rating_half)
}