.tb_twitter{
    margin:0;
    padding:0;
}
.tb_twitter li{
    margin:0 0 1em;
    padding:0;
    list-style:none
}
.tb_twitter .tb_twitter_timestamp{
    font-size:85%;
    color:inherit
}
.tb_twitter .tb_twitter_follow{
    margin:0;
    padding:.2em 0
}