.module .video-title{
    margin:0 0 .3em;
    font-size:1.3em;
    padding:0
}
.video-wrap:not(.tf_local_video){
    padding-bottom:56.25%;
    height:0
}
.video-top .video-title{
    margin-top:.8em
}
.video-top .video-caption{
    margin-bottom:1em
}
/* Fix fullscreen vimeo video z-index */
.themify_builder .wow.module-video{
    animation-fill-mode:none
}
/*layout*/
.video-right .video-wrap-outer,
.video-left .video-wrap-outer{
    width:50%;
    margin-right:1.5em;
    margin-bottom:1em;
    float:left;
}
.video-right .video-wrap-outer{
    float:right;
    margin-right:0;
    margin-left:1.5em;
}
.tb_hover_play  img.tb_video_poster{
	width:100%;
	height:100%;
    object-fit: cover;
	transition:opacity .3s,visibility .3s;
    contain:layout paint style;
	z-index:503
}
.tb_video_loaded .tf_vd_lazy:hover+.tb_video_poster,
.tb_video_loaded .tb_video_poster:hover{
	visibility:hidden;
	opacity:0;
	pointer-events:none
}
.tb_video_buffer{
	width:2%;
	height:4px;
	background:#ff0000;
	transition:width .3s;
    z-index:504
}