.module.image-center .tb-image-wrap{
    display:block;
    text-align:center;
    float:none;
    margin-right:0
}
.module.image-center .tb-image-content{
    text-align:center;
    margin-top:1em;
    margin-bottom:1.5em
}
.module.image-center .tb-menu-price{
    justify-content:center
}