.tb-highlight-text{
    background-color:var(--theme_accent,#d8ba2c);
    color:#fff;
    display:inline-block;
    font-size:.7em;
    line-height:1.2;
    padding:3px 10px;
    text-transform:uppercase;
}
.module-service-menu.black{
    background-color:#333;
    color:#fff
}
.module-service-menu.gray{
    background-color:#f3f3f3
}
.module-service-menu.blue{
    background-color:#e7eefb
}
.module-service-menu.light-blue{
    background-color:#f2f7ff
}
.module-service-menu.green{
    background-color:#d8e6d0
}
.module-service-menu.light-green{
    background-color:#fafff2
}
.module-service-menu.purple{
    background-color:#d9d7ea
}
.module-service-menu.light-purple{
    background-color:#f0efff
}
.module-service-menu.brown{
    background-color:#fff6ef
}
.module-service-menu.orange{
    background-color:#fff7df
}
.module-service-menu.yellow{
    background-color:#ffffe3
}
.module-service-menu.red{
    background-color:#fff4f4
}
.module-service-menu.pink{
    background-color:#fff7f9
}
/* color style in highlight_text */
.module-service-menu.black .tb-highlight-text{
    background-color:#000
}
.module-service-menu.gray .tb-highlight-text{
    background-color:#666
}
.module-service-menu.blue .tb-highlight-text{
    background-color:#3e65b2
}
.module-service-menu.light-blue .tb-highlight-text{
    background-color:#6694d6
}
.module-service-menu.green .tb-highlight-text{
    background-color:#4aab10
}
.module-service-menu.light-green .tb-highlight-text{
    background-color:#c2d4a2
}
.module-service-menu.purple .tb-highlight-text{
    background-color:#584eb2
}
.module-service-menu.light-purple .tb-highlight-text{
    background-color:#7f76cc
}
.module-service-menu.brown .tb-highlight-text{
    background-color:#8a5a31
}
.module-service-menu.orange .tb-highlight-text{
    background-color:#f79500
}
.module-service-menu.yellow .tb-highlight-text{
    background-color:#ff0
}
.module-service-menu.red .tb-highlight-text{
    background-color:#ff0000
}
.module-service-menu.pink .tb-highlight-text{
    background-color:#ffc0cb
}