.woocommerce .woocommerce-breadcrumb{
	font-weight:300;
	font-size:.75em;
	color:#959595;
	letter-spacing:.1em;
	margin-bottom:.9em
}
.woocommerce .woocommerce-breadcrumb a{
	color:inherit;
	font-weight:500;
	text-decoration:none;
	text-transform:uppercase;
	margin-right:-1px
}
.sidebar-none .woocommerce-breadcrumb{
	text-align:center
}
.sidebar-none .has-post-thumbnail .woocommerce-breadcrumb{
	text-align:left
}

